<p>
  <mat-toolbar color="primary">
    <mat-icon>create</mat-icon>
    <span>Definitions</span>
  </mat-toolbar>
</p>

<button (click)="newDefinition()" mat-button>
  <mat-icon>add</mat-icon> Add Definition
</button>

<!-- // display list of saved definitions from firestore -->

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <h2>Definitions</h2>

      <mat-card id="definitions" class="list">
          <app-definition
          *ngFor="let definition of definitions$ | async"
            [formDefinition]="definition"
            (edit)="editDefinition($event)"
          />
      </mat-card>
    </div>
  </div>
</div>
