.edit-form {
  display: grid;
  min-width: 50vw;
  min-height: 50vh;
  grid-template-rows: auto auto auto auto;
  height: 100%;
  display: grid;
  align-items: center;
  align-content: center;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
  }
}
