.form-definition {
  &__container {
    display: flex;
    gap: 20px;
  }

  &__form {
    &__prompt-variables,
    &__fields {
      display: flex;
      gap: 20px;
      &__field-to-save {
        display: flex;
        gap: 20px;
      }
    }
  }
}
