$header-height: 68px;

.prompt-configuration-form {
  height: calc(100% - $header-height);
  display: flex;

  &__stepper {
    padding: 10px 20px;
  }

  &__currently-editing {
    padding: 10px 20px;
  }
}
