<h1>Form Definition</h1>
<div class="create-form-definition">
  <div class="create-form-definition__form">
    <form
      [formGroup]="formDefinition"
      class="create-form-definition__form--details"
    >
      <mat-form-field>
        <mat-label>Form Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Context</mat-label>
        <input matInput formControlName="context" />
      </mat-form-field>
    </form>

    <h2>Fields</h2>
    <form
      [formGroup]="formDefinitionField"
      class="create-form-definition__form--fields"
    >
      <mat-form-field>
        <mat-label>Field Label</mat-label>
        <input matInput formControlName="label" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Field Type</mat-label>
        <input matInput formControlName="type" />
      </mat-form-field>
      <button mat-raised-button color="warn" type="button" (click)="addField()">
        Add Field
      </button>
    </form>

    <br />

    <button
      class="mat-button"
      mat-raised-button
      color="primary"
      (click)="saveDefinition()"
    >
      Save
    </button>

    <div class="create-form-definition__form__current">
      <mat-card class="field-card">
        <mat-card-header>
          <mat-card-title>
            <span>{{ formDefinition.get("name")?.value }}</span>
          </mat-card-title>
          <mat-card-subtitle>
            <span>{{ formDefinition.get("context")?.value }}</span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <h1>labels</h1>
          <div *ngFor="let field of formFields; let i = index">
            <div class="create-form-definition__form__current__field">
              <mat-icon>label</mat-icon>
              <span> {{ field.label }}</span>
            </div>
            <div class="create-form-definition__form__current__field">
              <mat-icon>category</mat-icon>
              <span>{{ field.type }}</span>
            </div>
            <hr />
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
