.create-form-definition {
  padding: 50px;
  text-align: center;

  &__form {
    &__current{
     &__field{
      display: flex;
      align-items: center;
      gap: 12px;
     }
    }
    &--details,
    &--fields {
      display: flex;
      gap: 5px;
    }
    &--fields {
      display: grid;
    }
  }
}

.form-definition {
  border: 2px solid red;
  width: fit-content;
}
